[user]
	email = phy1729@gmail.com
	name = Matthew Martin
[core]
	editor = vim
[merge]
	tool = vimdiff
[github]
	user = phy1729
[push]
	default = current
[color]
	ui = true
[alias]
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	review = diff --staged
	save = commit -m'savepoint'
	st = status -sb
