[alias]
	amend = commit --amend
	br = branch
	cm = commit
	cmm = commit --no-edit
	co = checkout
	fe = fetch --all -p
	fixup = commit --amend -C HEAD
	fu = fetch upstream
	lg = log --color --graph --pretty=colorful-oneline --abbrev-commit
	lga = !git --no-replace-objects log --color --graph --pretty=colorful-oneline --abbrev-commit --all
	ll = !git  --no-replace-objects log --color --graph --pretty=colorful-oneline --abbrev-commit --all --since=\"$(git show -s --pretty=format:'%cd' master~3)\"
	pop = stash pop
	rev = diff --staged -M
	review = diff --staged
	save = commit -m'savepoint'
	st = status -sb
[color]
	ui = true
[core]
	editor = vim
	excludesFile = ~/.gitignore
[github]
	user = phy1729
[merge]
	tool = vimdiff
[pretty]
	colorful-oneline = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[push]
	default = upstream
[rerere]
	enabled = true
[user]
	email = phy1729@gmail.com
	name = Matthew Martin
