xterm*termName: xterm-256color

! Don't scroll down on output
xterm*scrollTtyOutput: false

! Make links clickable (kinda)
*VT100*translations: #override Meta <Btn1Up>: exec-formatted("x-www-browser '%t'", PRIMARY)
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
